html,body,header, #intro {
	height: 100%;
}
#intro {
	background: url(../img/bg4.jpg)  fixed;
	-webkit-background-size:cover;
	background-size: cover;
}
.top-nav-collapse{
	background-color: #47301A;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse){
		background-color: #47301A;
	}
}
